@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');
@import "vue-select/dist/vue-select.css";

html,
body,
.c-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #000;
    color: #474747;
}
