@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');
@import "../../../node_modules/vue2-animate/src/sass/vue2-animate.scss";

html,
body,
.c-app {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #000;
    color: #474747;
}

.c-app {
    display: flex;
    flex-direction: column;
}

.c-app__add-event-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}
